/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}
/* HEADER */
.heading_container {
    width: 90%;
    margin: 20px auto;
    background-image: linear-gradient(to bottom, #2bafcf, #006f8a);
    box-shadow: 1px 5px 15px -1px rgba(0,0,0,0.68);
    padding: 25px 15px;
    border-bottom: 0.1px solid whitesmoke;
    }

.logo {
    width: 340px;
    display: block;
    margin: auto;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: whitesmoke;
}

nav {
    margin: 20px;
}

.nav_link {
    margin: 3px;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
}
/* MAIN */

main {
    width: 90%;
    margin: 20px auto;
    background-color: whitesmoke;
    box-shadow: 1px 5px 15px -1px rgba(0,0,0,0.68);
}

h2 {
    font-weight: 500;
    font-size: 2.1em;
}

hr {
    visibility: hidden;
    margin-top: 15px;
}

i {
    color: #908f8f;
}

article {
    padding: 15px;
}

span {
    font-weight: 500;
    color: #aa2072;
}

em {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #8b8484;
    background-color: #b0abab86;
    
}

table thead {
    width: 100%;
    background-color: #4976ce;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #EFEFEF;
    border-style: solid;
    color: #FFFFFF;
}

tbody tr:nth-child(odd) {
    background-color: #eaeef4;
    border-bottom: 1px solid rgba(128, 128, 128, 0.597);
}

tbody tr:nth-child(even) {
    background-color: #b8b3b375;
    border-bottom: 1px solid rgba(128, 128, 128, 0.597);
}

tbody tr:last-child {
    border-bottom: 1px solid #4976ce;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
